PORT=3333
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/flashcastelo
JWT_SECRET=troque-para-uma-chave-segura
JWT_EXPIRES_IN=8h
CORS_ORIGIN=http://127.0.0.1:5500

# Client ID público da maquininha REDE
REDE_CLIENT_ID=b809d28f-8472-4f16-9820-9cb76fa53afc
